.header-image {
    height: 200px;
    background-image: url("../images/logo/logo.png");
    background-repeat: no-repeat;

}
.navbar {
    margin-bottom: 0;
}
.navbar-default {
	background-color: #E2E5D1;
}

.footer {
    background-color: #3D3234;
    position:fixed;	  
    bottom: 0px;
  	width: 100%;
  	height: 60px;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
 
}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}

/*----------- Changement Alex -----------*/
  
.description {
	min-width: 140px;
	max-width: 360px;
}

p.indexPrice {
	font-weight: bold;
}

.decalage {
	padding-left: 0px;
	margin-left: 0px;
}

.col-md-6 h4 {
	padding-top : 2px;
}

.skills {
	border-top: 1px solid #dddddd; 
	border-bottom: 1px solid #dddddd;
}
.skill {
	height: 40px;
	width: 100%;
	display: inline-block;
}

.skill img{
	float:left;
}

.skillOn {
	font-size: 16px;
	float: left;
	padding-top: 12px;
	margin-left: 25px;
}

.skillOff {
	color: grey;
	font-size: 16px;
	float: left;
	padding-top: 12px;
	margin-left: 25px;
}

#userComment {
	resize: none;
	width: 100%;
	height: 94px;
	color: #555555;
	margin: 10px 0px;
	padding: 6px 12px;
}

.rating {
	float: left;
	margin: 8px 0px 0px 250px;
}

#note {
	padding-right: 20px;
}

.oldComment {
	max-width: 75%;
	min-width: 80px;
	padding: 10px 12px;
	color: #555555;
	background-color: transparent;
	border: none;	
}

.oldCommentContainer {
	padding-top: 5px;
	border-top: 1px solid #dddddd; 
}

.rating2 {
	clear:both;
	overflow:auto;
    display:block;
	float: right;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	margin-top: -40px;
}

.comment {
	margin-bottom: 20px;
}

.espace {
	margin-bottom: 80px;
}